.close_button{
  padding: 0;
    background-color: transparent;
    border: none;
    width: 36px;
    aspect-ratio: 1;
    position: relative;
 
    
  &__wrapper {
    display: flex;
    margin-left: 240px;
  
  }

  &::before,&::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 7px;
    width: 70%;
    height: 2px;
    background-color: red;
    border-radius: 5px;
}
&::before {
  rotate: 45deg;
}
&::after {
  rotate: -45deg;
}
 
}