// шрифт Monserat 900 полужирный
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

body {
  font-family: var(--font-family-base);
  color: var(--color-dark);
  max-width: var(--body-with-container);
  margin-inline: auto;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
}
